.main-container {
    background-image: url("/images/background.png");
}

.my-container {
    border: 2px solid black;
    border-radius: 3%;
    background-color: rgba(47, 46, 46, 0.814);
    max-width: 400px;
}