@if (showDeleteModal) {
  <div class="modal-backdrop fade show"></div>

  <div class="modal d-block" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title">Delete chat</h5>
          </div>

          <div class="modal-body">
          Are you sure you want to delete "{{ selectedChat?.title }}"?
          </div>

          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">
              Cancel
          </button>
          <button type="button" class="btn btn-danger" (click)="confirm()">
              Delete
          </button>
          </div>
      </div>
      </div>
  </div>
}