<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="btn btn-outline-secondary navbar-brand"
     type="button" 
     data-bs-toggle="offcanvas" 
     data-bs-target="#chatList"
     routerLink="/app"
     >Chats</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="position-absolute start-50 translate-middle-x fw-bold">
      {{ getCurrentRoute() === "/app" ? (currentChat$ | async)?.title : "Love-AI" }}
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/memory">Memory Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/relationship">Relationship</a>
        </li>
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" href="#" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>